<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- 手書きcss, <head>の中に以下のcssを入れる -->
    <link rel="stylesheet" th:href=@{/css/todo_css.css} />

    <title>ToDoアプリケーション</title>
</head>

<body>
    <h1>ToDoアプリケーション</h1>
    <img th:src="@{/img/todo_people.png}" width="640px"> <br />
    <p>
        ログインしてください．メンバーIDがない人は，管理者にお問い合わせください．
    </p>

    <div class="msr_search_06">
        <form role="form" th:action="@{/member/login-tmp}" method="get">
            <input type="text" required name="mid" value="" />
            <button type="submit">確認</button>
        </form>
    </div>



</body>

</html>