<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>ToDoアプリケーション</title>
</head>

<body>
    <h1>ToDoアプリケーション</h1>
    <img src="@{../static/img/todo_people.png}" width="640px">
    <p>
        ログインしてください．メンバーIDがない人は，管理者にお問い合わせください．
    </p>
    <form role="form" th:action="@{/member/{mid}/todos(mid=${mid})}" th:object="${MemberForm}" method="get">
        <table>
            <tr>
                <td><label>メンバーID: </label></td>
                <td><input type="text" required th:field="*{mid}" /></td>           
            </tr>
        </table>
        <p><input type="submit" value="確認する" /></p>
    </form>


</body>

</html>