<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href=@{/css/todo_css.css} />
    <title>ToDoリスト</title>
</head>

<body>
    <h1>ToDoアプリケーション</h1>
    <tr>
        <h2>
            <td th:text="${name}"></td>
            <td>さんのToDoリスト</td>
        </h2>
    </tr>
    <tr>
        <!-- TODO INTERFACE -->
        <h2>ToDo</h2>
        <table border="1" class="msr_table03">
            <tr>
                <th>Seq</th>
                <th>Task</th>
                <th>created at</th>
                <th>command</th>
            </tr>
            <tr th:each="t: ${todo_list}">
                <td>[[${t.seq}]]</td>
                <td>[[${t.title}]]</td>
                <td>[[${t.createdAt}]]</td>
                <td><a th:href=@{/member/{mid}/done/{seq}(mid=${mid},seq=${t.seq})}>完了</a></td>
            </tr>
        </table>
        <div class = "balloon1">
            <p>新規ToDo作成<br></p>
        </div>
        <div class="msr_search_06">

            <form role="form" th:action="@{/member/{mid}/check(mid=${mid})}" th:object="${form}" method="get">
                <input type="text" required th:field="*{title}" />
                <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" style="color: red"></span>
                <button type="submit">確認</button>
            </form>
        </div>

        <!-- DONE INTERFACE -->
        <h2>Done</h2>
        <table border="1" class="msr_table03">
            <tr>
                <th>Seq</th>
                <th>Task</th>
                <th>created at</th>
                <th>done at</th>
            </tr>
            <tr th:each="t: ${done_list}">
                <td>[[${t.seq}]]</td>
                <td>[[${t.title}]]</td>
                <td>[[${t.createdAt}]]</td>
                <td>[[${t.doneAt}]]</td>
            </tr>
        </table>

        <!-- EVERYBODY TODO -->

        <span><br><a th:href=@{/member/{mid}/everyone(mid=${mid})}>みんなのTODO</a></span>
        <span><a th:href=@{/member/login}>logout</a></span>
    </tr>


</body>

</html>